@import "./responsive.scss";

.layout{
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @include lg{
        background-color: rgb(24, 157, 28);
        max-width: 1280px;
    }

    @include md{
        background-color: #1987d0;
        max-width: 768px;
    }

    @include sm{
        background-color: #832020;
        max-width: 640px;
    }
}